.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 20vw;
  color: #fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #aaa;

  @media only screen and (max-width: 900px) {
    width: 30vw;
  }
  
  @media only screen and (max-width: 650px) {
    width: 40vw;
  }
  
  @media only screen and (max-width: 500px) {
    width: 100vw;
  }
}

.listGroup {
  list-style-type: none;
}

.closeButton {
  align-self: flex-end;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  fill: #aaa;
  margin-bottom: 50px;
}

.hamburgerMenuIcon {
  position: fixed;
  fill: #aaa;
  cursor: pointer;
}
